<!DOCTYPE HTML>
<html>
  <head>
    <title>Text Summarizer</title>
  </head>
  <body>
    <h1>Text Summarizer</h1>
    <form action="/" method="POST">
      Text to summarize:
      <br>
      <textarea name="text" rows="20" cols="40" placeholder="Text to summarize"></textarea>
      <br>
      Summary length (in sentences):
      <br>
      <input name="length" type="text" placeholder="Summary length" value="3">
      <br>
      <input type="submit" value="Summarize!">
    </form>
    <p>
      {{ summary }}
    </p>
    <a href="https://github.com/ryan-endacott"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  </body>
</html>
